{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{% if breadcrumb %}
  <div {{ attributes.addClass('breadcrumb') }}>
    {% if breadcrumb_text %}
      <span class = 'breadcrumb-title'> {{ breadcrumb_text }} </span>
    {% endif %}
    {% for item in breadcrumb %}
        {% if item.url %}
          <a href="{{ item.url }}">{{ item.text }}</a>
        {% else %}
          <span>{{ item.text }}</span>
        {% endif %}
    {% endfor %}
  </div>
{% endif %}
