{#
/**
 * @file
 * Theme override for a link to a file.
 *
 * Available variables:
 * - attributes: The HTML attributes for the containing element.
 * - link: A link to the file.
 *
 * @see template_preprocess_file_link()
 */

<span{{ attributes }}>{{ link }}</span>
  {{ description }}
  size: {{ file.getSize() }}
  type: {{ file.getMimeType() }}
#}

{% spaceless %}
<a href="{{ file_url(file.getFileUri()) }}"
{{attributes.
setAttribute('data-balloon', description ).
setAttribute('data-balloon-pos','up') }}
>
<span class="iconsvg iconsvg--s">
  {% if file.getMimeType() == "application/pdf" %}
    {% include active_theme_path() ~ '/icons/ic_picture_as_pdf_48px.svg' %}
  {% else %}
    {% include active_theme_path() ~ '/icons/ic_file_download_48px.svg' %}
  {% endif %}
  </span>
  <span>{{ file.getFilename() }}</span>

</a>
{% endspaceless %}
