{#
{{ base_path  }} : The base URL path of the Drupal installation.
{{ is_front  }}  : A flag indicating if the current page is the front page.
{{ logged_in  }} : A flag indicating if the user is registered and signed in.
{{ is_admin  }} : A flag indicating if the user has permission to access administration pages.
<img src="{{ active_theme_path()  }}/images/d8.png">
#}

{%
	set main_classes = [
    is_front ? '' : '',
    taxonomy ? '' : '',
    node.bundle ? 'type' ~ node.bundle|clean_class,
	]
%}
	{% set is_fluid = true%}

	{% set dynamic_container = is_fluid ? 'page-container-fluid ' : 'page-container ' %}
<header class="header centered-navigation" role="banner" aria-label="{{ 'Site header'|t  }}">
	<div class="{{dynamic_container}}centered-navigation-wrapper">
	<div class="menu-nav">
		<a id="nav-open-button" class="nav-button" href="#block-system-main-menu">
			<svg role="img" class="hmenu"><use xlink:href="#hmenu"></use></svg>
		</a>
  </div>
  {{ page.navigation  }} 
	</div>
</header>
<div class="pagewidth">
  {{ page.pre_content  }}
  {{ page.breadcrumb  }}
  {{ page.highlighted}}
</div>
<main class="{{dynamic_container}}" role="main" id="main">
  <a id="main-content" tabindex="-1"></a>
  {{ page.content  }} 
</main>

{% if page.sidebar_first %}
  <aside role="complementary">
    {{ page.sidebar_first  }}
  </aside>
{% endif %}

{% if page.sidebar_second %}
  <aside role="complementary">
    {{ page.sidebar_second  }}
  </aside>
{% endif %}
 {% if page.footer_top or page.footer_one or page.footer_two or page.footer_three or page.footer_menus %}
    <footer class="footer" role="contentinfo">
     
      {% if page.footer_top %}
      <div id="footer-top" {{ footer_top_style  }}>
      <div class="container {{ set_max_site_width ? maximum_width_footer }}">
        {{ page.footer_top  }}
      </div>
      </div>
      {% endif %}

      {% if page.footer_first or page.footer_second or page.footer_third %}
        <div id="footer-middle" {{ footer_middle_style }}>
          <div class="container {{ set_max_site_width ? maximum_width_footer }}">
        {% if page.footer_first %}
            {{  page.footer_first  }}
        {% endif %}
        {% if page.footer_second %}
            {{  page.footer_second  }}
        {% endif %}
        {% if page.footer_third %}
            {{ page.footer_third  }}
        {% endif %}
        </div></div>
      {% endif %}

      {% if page.footer_menus %}
       <div id="footer-menus" {{ footer_menus_style }}>
          <div class="pagewidth container {{ set_max_site_width ? maximum_width_footer }}">
        {{ page.footer_menus }}
       {% if (social_icons) %}
          <section class="footer-social-section">
      <span class="footer-social-overlap footer-social-connect">
        CONNECT <span class="footer-social-small">with</span> US
      </span>
      <span class="footer-social-overlap footer-social-icons-wrapper">
        {{ social_icons }}
      </span>
  </section>
   <section class="footer-bottom-section">
      {% if footer_copy %}
    <div class="footer-bottom-wrapper">   
      {{ footer_copy }}
    </div>
       {% endif %}

      {% if footer_links %}
    <div class="footer-bottom-wrapper footer-bottom-menus">
    {{ footer_links|join(' | ')|raw }}
    </div>
       {% endif %}
  </section>
       {% endif %}
        </div>
      </div>
      {% endif %}
    </footer>
  {% endif %}
{% if display_grid %}
   {{ attach_library('moonshine/display-grid')}}
{% endif %}
{% if back_to_top %}
   {{ attach_library('moonshine/back-to-top') }}
  <a id="back-to-top" class="" href="{{back_to_top}}">
		<svg role="img" class="circleup"><use xlink:href="#circleup"></use></svg>
	</a>
{% endif %}

